<ul class="menu">
  <li><a href="/projects/cettia-javascript-client/1.0.1">1.0.1</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0">1.0.0</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0-RC1">1.0.0-RC1</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0-Beta2">1.0.0-Beta2</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0-Beta1">1.0.0-Beta1</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0-Alpha2">1.0.0-Alpha2</a></li>
  <li><a href="/projects/cettia-javascript-client/1.0.0-Alpha1">1.0.0-Alpha1</a></li>
</ul>
