@charset "utf-8";

// Foundation
@import "foundation/settings";
@import "foundation/foundation";
@include foundation-everything;

// Pygments
{% include pygments-github.css %}

// App
.top-bar-wrapper {
  background-color: $topbar-background;
}

code {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  code {
    font-size: 0.875em;
  }
}

a {
  code {
    color: inherit;
  }
}

div.highlighter-rouge, figure.highlight {
  margin: 0;
  & > pre {
    margin-bottom: $paragraph-margin-bottom;
    padding: 0.375rem 0.625rem;
    background-color: $code-background;
    border: $code-border;

    code {
      display: block;
      border: none;
      padding: 0;
    }
  }
}

.copyright {
  color: #777;
  p, ul {
    font-size: 0.875rem;
  }
}

article {
  .information {
    color: #888;
    .post-author {
      height: 24px;
      display: inline-block;
    }
  }
}

#content, .content {
  margin-top: 2rem;
  ul.menu {
    margin-bottom: 1rem;
  }
}
