<div class="top-bar-wrapper">
    <div class="row">
        <div class="large-12 columns">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/">Cettia</a></li>
                        <li>
                            <a href="#">Projects</a>
                            <ul class="menu">
                                <li><a href="/projects/cettia-protocol">Cettia Protocol</a></li>
                                <li><a href="/projects/cettia-java-server">Cettia Java Server</a></li>
                                <li><a href="/projects/cettia-javascript-client">Cettia JavaScript Client</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li>
                            <form action="http://www.google.com/search">
                                <input type="hidden" name="sitesearch" value="{{ site.url }}"/>
                                <input type="search" name="q" placeholder="Search"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
