---
---

@import "normalize";
@import "settings";
@import "foundation";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic");

code {
  font-size: 0.875rem; // A balance between Source Sans Pro and Consolas
}
h1, h2, h3, h4, h5, h6 {
  code {
    font-size: inherit;
  }
}
a {
  code {
    color: inherit;
  }
}
pre {
  code {
    display: block;
    padding: 0.375rem 0.625rem;
    margin-bottom: $paragraph-margin-bottom;
  }
}
.version-dropdown code {
  border: inherit;
  background: inherit;
}
.copyright {
  color: #777;
  p, ul {
    font-size: 0.875rem;
  }
}
article {
  .information {
    color: #888;
    .post-author {
      height: 24px;
      display: inline-block;
    }
  }
}
#content, .content {
  margin-top: 2rem;
}