---
layout: default
---

<div class="grid-container">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><span class="show-for-sr">Current: </span>
        {% if page.title == 'Blog' %}
          Blog
        {% else %}
          <a href="/blog">Blog</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
