---
layout: blog
---

<article>
  <h2>{{ page.title }}</h2>
  <div class="information">
    <p>
      <a href="https://github.com/{{ page.author }}" class="post-author">
        {% avatar {{ page.author }} size=24 %} {{ page.author }}
      </a>
      wrote this on
      <time>{{ page.date | date_to_string }}</time>
    </p>
  </div>
  <div class="content">{{ content }}</div>
  <h4>All posts</h4>
  <ul>
    {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> on <time>{{ post.date | date_to_string }}</time></li>
    {% endfor %}
  </ul>
</article>
